<div ng-controller="transactionsCtrl" id="transactions" class="wrapper">
	<div class="main">
		<h2>Vælg konto</h2>
		<ul class="accounts">
			<li class="account" ng-repeat="account in accounts">
				<a ng-class="{selected: isAccountSelected(account)}" ng-click="selectAccount(account)">
					{{ account.name }} {{ account.account_nbr }}
				</a>
			</li>
		</ul>
		<h2>Saldo</h2>
		<div class="balance">{{ selectedAccount.balance }} kr</div>
		<ul class="transactions">
			<li ng-repeat="transaction in transactions" class="transaction"> 
				<div class="date">{{ transaction.trx_time }}</div>
				<div class="category">{{ transaction.trx_subcategory }} - transaction.trx_category </div>
				<div class="text">{{ transaction.trx_description }}</div>
				<div class="amount">{{ transaction.trx_ammount }}</div>
			</li>
		</ul>
		<button ng-click="getMoreTransactions()" class="get-more">Hent flere</button>
	</div>
</div>